@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Edu+AU+VIC+WA+NT+Arrows:wght@700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+RO:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

html,body{
  margin: 0;
  padding: 0;
}
:root{
--color-primary:green;
--clock-clr:rgb(203, 148, 148);
--clock-hour: rgb(171, 213, 242);
--clock-minute:rgb(240, 169, 83);
--clock-second: rgb(191, 238, 133);
--font-fa:"Playwrite RO", cursive;
--clr:rgb(174, 142, 87);
--blac:black;
}
html, body{
    background-color: rgb(67, 67, 64);
    margin: 0;
    padding: 0;
    height: 100%;
 }

 .container{
  width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
 }
 .cclock{
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: relative;
  top:-60px;
  width: 450px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .clock{
    height: 270px;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateZ(0px) rotateX(0deg) ;
    position: absolute;
    z-index: 1;

}
.clkbg{
    position: absolute;
    height: 270px;
    margin: 0;
    z-index: 1;
    filter: 
    drop-shadow(1px 1px 5px var(--blac))
    drop-shadow(1px 1px  5px var(--blac));
  }
.clk{
    position: absolute;
    width: 230px;
    height: 230px;
    background-color: #f0e4b2;
    border-radius: 100%;
    z-index: 2;
    top:22px;
    border: 1px black solid;
} 

.hand{
    background-color: rgba(130,184,168,255);
    transform-origin: bottom center;
    position: absolute;
    clip-path: polygon(
        50% 0%,       
        100% 10%,    
        90% 30%,     
        100% 40%, 
        85% 60%, 
        100% 80%, 
        90% 100%,     
        0% 98%, 
        10% 80%, 
        0% 60%, 
        15% 40%, 
        0% 30%,      
        10% 10%      
    );
}
.second{
    height: 95px;
    width: 4px;
    rotate: 0deg;
    top:8.9%;
    left: 50%;
    z-index: 3;
}
.minute{
    height: 70px;
    width: 5px;
    rotate: 270deg;
    top:18.6%;
    left: 50%;
    z-index: 2;
}
.hour{
    height: 57px;
    width: 6px;
    rotate: 90deg;
    top:24.6%;
    left: 50%;
    z-index: 1;
}
.pulley{
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color:rgba(91,150,106);
    z-index: 4;
    position: absolute;
    top: 49%;
    left: 51%;
    transform: translate(-50%,-50%);
    clip-path: polygon(
    50% 0%,   63% 4%,   75% 10%,  85% 22%,
    96% 34%,  98% 50%,  94% 65%,  88% 77%,
    77% 88%,  65% 94%,  50% 98%,  35% 94%,
    22% 88%,  10% 76%,  4% 65%,   2% 50%,
    4% 35%,   10% 24%,  20% 12%,  34% 4%
  );
  }
  .innerpulley{
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color:rgba(144,172,69,255);
    z-index: 4;
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-50%,-50%);
  }

.dayc{
  width: 80px;
  position: absolute;  
  top: 70%;
  left: 50%;
  transform-origin:center;
  transform: translate(-50%,-50%);
  z-index:3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5px;
  
}
.daybg{
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 4px black;
}
.date{
  /* background-color:  black; */
  z-index: 4;
  font-size: 9px;
  font-weight: 600;
  font-family: var(--font-fa);
  color: rgb(0, 0, 0);
  text-align: center;
}
.dspt{
  z-index: 4;
  color: rgb(13, 9, 9);
  height: auto;
  width: auto;
  font-size: 10px;
  font-weight: 800;
  font-family: var(--font-fa);
  text-align: center;

}
.day{
  width: auto;
  height: auto;
}.month{
  width: auto;
  height: auto;
}
.year{
  width: auto;
  height: auto;
}
.number {
    position: relative;
    width: 230px;
    height: 230px;
    border-radius: 50%;
  }
  .timeno {
    position: absolute;
    width:auto;
    transform: rotate(calc(30deg*var(--i)));
    inset: 2px;
    text-align: center;
    font-size: 15px;
    font-family: var(--font-fa);
    color:  rgb(219, 202, 116);
    text-shadow: 0px 0px 2px black;
  } 
  .timeno>b{
    transform: rotate(calc(-30deg*var(--i)));
    display:inline-block;
  }


  .ctimer{
    width: 450px;
    height: 450px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .tminute{
    width: 450px;
    height: 450px;
    position: absolute;
  }
  .tsecond{
    width: 350px;
    height: 350px;
    position: absolute;
  }
  .tminute>.tm_clkbg,.ts_clkbg{
    position: absolute;
    transform-origin: center;
  }
  .tminute>.tm_clkbg{
    width: 450px;
  }
  .ts_clkbg{
    width: 350px;
  }

  /* ----------------------background cover------------------- */
.backcover{
    background-image: linear-gradient(rgba(0, 0, 0,0.0), rgba(2, 8, 4, 0.4)),url('assets/backcover1.svg'); /* Replace with your image path */
    background-size:cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    top: 0px;
    bottom: 0px;
    margin: 0;
    z-index: 0;
    position: absolute;
    }


    /* ------------------button----------------- */
.buttons{
position: absolute;
bottom: 25%;
left: 50%;
border-radius: 100%;
transform: translate(-50%,-50%);
width:50px;
height:50px;
background: linear-gradient(to right top, rgba(9, 10, 9, 0.163),rgba(217, 217, 217, 0.234));
z-index: 2;
backdrop-filter: blur(2px);
filter: brightness(105%);
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
transition: 0.2s ease-in;

}
.buttons:hover{
  background: radial-gradient( rgba(154, 190, 199, 0.564),rgba(82, 170, 197, 0.559));
  border: 0.01px rgba(94, 193, 223, 0.799) solid;
  box-shadow: 0 0 20px rgba(114, 206, 246, 0.718),0 0 20px rgba(132, 179, 193, 0.641);
}

#icon{
  opacity: 50%;
  height: 30px;
  transition: 0.2s ease-in;
}
.buttons:hover #icon>path{ 
  fill: rgb(211, 201, 201);
}
/* leaf */

body {
  background-color: #fcecd7;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.content {
  position: relative;
}

.leaf{
  position: absolute;
  z-index: 2;
}
.leaf1 {
  position: absolute;
  font-size: 70px;
  top:0;
  animation: fall 5s linear infinite;
}

.leaf2 {
  position: absolute;
  font-size: 55px;
  top:0;
  animation: fall2 6s linear infinite;
}

.leaf3 {
  position: absolute;
  font-size: 40px;
  top:-400px;
  left:-100px;
  animation: fall 4s linear infinite 1s;
}

.leaf4 {
  position: absolute;
  font-size: 45px;
  top:-400px;
  left:300px;
  animation: fall 4s linear infinite 1.5s;
}

.leaf5 {
  position: absolute;
  font-size: 55px;
  top:-410px;
  left:250px;
  animation: fall3 4s linear infinite 2s;
}
.leaf6 {
  position: absolute;
  font-size: 55px;
  top:-410px;
  left:-250px;
  animation: fall3 4s linear infinite 1.5s;
}

.leaf7 {
  position: absolute;
  font-size: 35px;
  top:-410px;
  left:-350px;
  animation: fall2 5s linear infinite .5s;
}

.leaf8 {
  position: absolute;
  font-size: 75px;
  top:-430px;
  left:550px;
  animation: fall3 5s linear infinite .5s;
}

.leaf9 {
  position: absolute;
  font-size: 35px;
  top:-430px;
  left:150px;
  animation: fall5 6s linear infinite .3s;
}

.leaf10 {
  position: absolute;
  font-size: 55px;
  top:-430px;
  left:450px;
  animation: fall5 3.7s linear infinite 1.3s;
}

.leaf11 {
  position: absolute;
  font-size: 55px;
  top:-430px;
  left:650px;
  animation: fall5 4.7s linear infinite 1.7s;
}
@keyframes fall {
  0% {top:-410px; transform: translateX(-100px) rotateX(180deg);}
  100% {top:900px; transform: translateX(250px) rotateX(-180deg);}
}

@keyframes fall2 {
  0% {top:-410px; transform: translateX(50px) rotateX(-90deg);}
  100% {top:900px; transform: translateX(-350px) rotateX(180deg);}
}

@keyframes fall3 {
  0% {top:-430px; transform: translateX(0px) rotateX(-180deg);}
  100% {top:900px; transform: translateX(-400px) rotateX(180deg);}
}

@keyframes fall4 {
  0% {top:-430px; transform: translateX(0px) rotateY(-180deg);}
  100% {top:900px; transform: translateX(-400px) rotateY(180deg);}
}

@keyframes fall5 {
  0% {top:-410px; transform: translateX(-100px) rotateY(180deg);}
  100% {top:900px; transform: translateX(250px) rotateY(-180deg);}
}